@charset "UTF-8";
@import './reset.css';

:root {
  /* Background */
  --app-dark-bg: #201c22;
  --app-dark-light-bg: #2a262d;
  --app-dark-light-bg2: #312d34;
  --app-light-bg: #eee;

  /* Font */
  --app-dark-font: #838383;
  --app-dark-light-font: #878787;
  --app-font-color: #f2f4f6;

  /* General basic color */
  --app-blue: #09f;
  --app-green: #9f0;
  --app-orange: #f90;
  --app-pink: #f09;
  --app-purple: #90f;
}

.container {
  width: min(100% - 30px, 1280px);
  margin-inline: auto;
}

main {
  align-items: center;
}

main div, h1, h2 {
  color: #fff;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--app-dark-bg);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* INDEX STYLING - SEPERATE FROM DEFAULT */

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Header                                               */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.title, a {
    font-size: 24px;
    height: 60px;
    font-weight: 600;
    color: var(--app-font-color);
    font-family: 'Montserrat', sans-serif;
    line-height: 60px;
    text-decoration: none;
}

header a {
    font-size: 16px;
    font-weight: 300;
    position: relative;
    padding: 1px 0;
}

header a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  opacity: 0;
  transition: opacity 0.3s, transform 0.3s;
}

.header-nav {
  color: var(--app-font-color);
  display: flex;
  margin-left: auto;
  padding: 16px;
}

.header-li {
  display: inline;
  overflow: auto;
  margin-left: 20px;
}

.header-li:hover {
  cursor: pointer;
}

.flexbox {
  display: flex;
  background-color: var(--app-dark-light-bg);
  overflow: hidden;
  position: sticky;
  top: 0;
}

/* ----- Extra styling ----- */

.grid {
  display: grid;
  gap: 30px;
}

.lg-4 {
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.user {
  text-align: center;
}

/* ----- FORM / BANNER ----- */

form {
  white-space: pre-line;
  margin: 50px;
  text-align: center;
  color: #fff;
}

.webBanner {
  padding: 40px 0 0 0;
}

.bannerTitle {
  font-size: 50px;
}

.text {
  font-size: 20px;
  margin-top: 20px;
}

button {
  padding: 10px;
  margin: 5px;
  width: 108px;
  border-radius: 8px;
}

.button-primary {
  background-color: var(--app-blue);
  color: var(--app-font-color);
}

.button-secondary {
  background-color: var(--app-light-bg);
  color: var(--app-blue);
  border-color: var(--app-blue);
  border: 2px solid;
}

img {
  height: 500px;
  width: 300px;
  object-fit: cover;
  border-radius: 8px;
  filter: drop-shadow(2px 2px 5px #00000042);
}

.gallery {
  padding: 40px 0;
}

/* ----- FOOTER ----- */

footer {
  width: 100%;
  height: 50px;
  bottom: 0;
  left: 0;
  background-color: var(--app-dark-light-bg);
  text-align: center;
  color: var(--app-font-color);
  line-height: 50px;
}


